@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #faf2e9;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-menu{
    display: flex;
    gap: 10px;
    color: rgb(0, 0, 0);
}
.cabecalho-menu-item{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.cabecalho-menu-item:hover{
    background-color: rgb(255, 242, 0);
    border-radius: 5px;
    transition: background-color 0.45s;
}
.conteudo{
    border-top: 0.4px solid rgb(0, 0, 0);
    margin-left: 240px;
    margin-right: 240px;
}
.conteudo-principal{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center; 
}
.resumo{
    margin-top: 5px;
    font-family: 'Heebo', sans-serif;
    font-weight: 1400;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.experiencia{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 20px;
}
.titulo-trabalhos{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    font-weight: 1400;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.titulo-projetos{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    font-weight: 1400;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.projetos{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 20px;
}
.projetos-ativos{
    
}
.desfecho{
    padding: 32px;
    border-top: 0.4px solid rgb(0, 0, 0);
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
}

.desfecho-texto{
    display: flex;
    font-family:'Heebo';
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin:auto;
}