@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(248.46deg, #ffd8b1 0%, rgba(255, 231, 204, 0.74)4) 100%;
    
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 10px;
    color: rgb(0, 0, 0);
}
.cabecalho-menu-item{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.cabecalho-menu-item:hover{
    background-color: rgba(74, 98, 252, 0.5);
    border-radius: 15px;
    transition: background-color 0.25s;
}
.conteudo{
    border-top: 0.4px solid rgb(0, 0, 0);
    margin-left: 240px;
    margin-right: 240px;
}
.conteudo-principal{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color:rgb(0, 0, 0);
    display: flex;
}
.conteudo-principal-escrito-frase-impacto{
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:rgb(0, 0, 0);
    display: flex;
}

.conteudo-principal-escrito-imagem{
    width: 320px;
    height: 320px;
    border-radius: 7px;
    display: flex;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border-top: 0.4px solid rgb(0, 0, 0);
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 440px;
    margin-right: 440px;
    margin-bottom: 15px;
    gap: 7px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.desfecho{
    padding: 32px;
    border-top: 0.4px solid rgb(0, 0, 0);
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
}

.desfecho-texto{
    display: flex;
    font-family:'Heebo';
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin:auto;
}